@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700;900&display=swap');

$celular: 320px;
$tablet: 768px;
$notebook: 992px;
$desktop: 1300px;

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

//container geral
.container {
  width: 900px;
  margin: 0 auto;
  display: block;

  @media screen and (min-width: $celular) {
    width: 100%;
  }

  @media screen and (min-width: $tablet) {
    width: 100%;
  }

  @media screen and (min-width: $notebook) {
    width: 880px;
  }

  @media screen and (min-width: $desktop) {
    width: 900px;
  }


  .row {
    display: flex;
    flex-direction: row;

    @media screen and (min-width: $celular) {
      flex-direction: column;
    }

    @media screen and (min-width: $tablet) {
      flex-direction: row;
    }

    @media screen and (min-width: $notebook) {
      flex-direction: row;
    }

    @media screen and (min-width: $desktop) {
      flex-direction: row;
    }

    .coluna {

      flex: 1;

      @media screen and (min-width: $celular) {
        flex: 1;
      }

      @media screen and (min-width: $tablet) {
        flex: 1;
      }

      @media screen and (min-width: $notebook) {
        flex: 1;
      }

      @media screen and (min-width: $desktop) {
        flex: 1;
      }

    }

  }

}

.slick-slide{
  padding-right: 10px;
}

//Player de video
.video-js{
  width: 100%;
  height: 500px;
  @media screen and (min-width: $celular) {
    height: 200px;
  }

  @media screen and (min-width: $tablet) {
    height: 420px;
  }

  @media screen and (min-width: $notebook) {
    height: 500px;
  }

  @media screen and (min-width: $desktop) {
    height: 500px;
  }
  .vjs-big-play-button{
    top: 42% !important;
    left: 46% !important;
    @media screen and (min-width: $celular) {
      top: 38% !important;
      left: 38% !important;
    }
  
    @media screen and (min-width: $tablet) {
      top: 42% !important;
      left: 46% !important;
    }
  
    @media screen and (min-width: $notebook) {
      top: 42% !important;
      left: 46% !important;
    }
  
    @media screen and (min-width: $desktop) {
      top: 42% !important;
      left: 46% !important;
    }
  }
}
