$celular: 320px;
$tablet: 768px;
$notebook: 992px;
$desktop: 1300px;

.newslatter{
    background-position: center;
    background-size: cover;
    padding: 20px;
    .coluna{
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      h1{
        font-family: "Nexa Bold";
        font-size: 40px;
        color: #e5e5e5;
        width: 100%;
        padding: 50px;
        text-align: left;
      }
     
    }
    svg{
      font-size: 20px;
      cursor: pointer;
      height: auto;
      width: 60px;
      color: #e5e5e5;
      margin: 30px;
      @media screen and (min-width: $celular) {
        width: 40px
      }
    
      @media screen and (min-width: $tablet) {
        width: 40px
      }
    
      @media screen and (min-width: $notebook) {
        width: 50px;
      }
    
      @media screen and (min-width: $desktop) {
        width: 50px;
      }
    }
    .what_icon:hover{
      color: #3abc20;;
      transition: all 0.2s;
    }
    .insta_icon:hover{
      color: #da0feb;
      transition: all 0.2s;
    }
}