$celular: 320px;
$tablet: 768px;
$notebook: 992px;
$desktop: 1300px;


.title{
  
  .container {
    width: 960px;
    margin: 0 auto;
    display: block;
  
    @media screen and (min-width: $celular) {
      width: 100%;
    }
  
    @media screen and (min-width: $tablet) {
      width: 100%;
    }
  
    @media screen and (min-width: $notebook) {
      width:  960px;
    }
  
    @media screen and (min-width: $desktop) {
      width:  960px;
    }
  
  
    .row {
      display: flex;
      flex-direction: row;
  
      @media screen and (min-width: $celular) {
        flex-direction: column;
      }
  
      @media screen and (min-width: $tablet) {
        flex-direction: row;
      }
  
      @media screen and (min-width: $notebook) {
        flex-direction: row;
      }
  
      @media screen and (min-width: $desktop) {
        flex-direction: row;
      }
  
      .coluna {
  
        flex: 1;
  
        @media screen and (min-width: $celular) {
          flex: 1;
        }
  
        @media screen and (min-width: $tablet) {
          flex: 1;
        }
  
        @media screen and (min-width: $notebook) {
          flex: 1;
        }
  
        @media screen and (min-width: $desktop) {
          flex: 1;
        }
  
      }
  
    }
  
  }
  .header{
      font-family: "Nexa Bold";
      color: #c2a57f;
      text-align: center;
      width: 250px;
      margin: 0 auto;
      padding: 50px 0px;
      font-size: 25px;
  }
}
