$celular: 320px;
$tablet: 768px;
$notebook: 992px;
$desktop: 1300px;

.informacoes_fluante{
background-color: #e5e5e5;
padding-bottom: 50px;
h1{
    font-family: 'Nexa Bold';
    color: #B03060;
    font-size: 30px;
    text-align: center;
    padding: 30px;
}
.flutuante{
background-position: center;
background-size: cover;
height: 200px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin: 30px 10px;

// box-shadow:         9px 7px 5px rgba(50, 50, 50, 0.77);
.icon_truck{
color: #fff;
height: auto;
width: 40px;
padding-bottom: 20px;
}
p{
font-family: 'Nexa Bold';
color: #fff;
font-size: 15px;
text-align: center;
width: 150px;
}
}
}

