$celular: 320px;
$tablet: 768px;
$notebook: 992px;
$desktop: 1300px;




//container geral
.container {
  width: 1100px;
  margin: 0 auto;
  display: block;

  @media screen and (min-width: $celular) {
    width: 100%;
  }

  @media screen and (min-width: $tablet) {
    width: 100%;
  }

  @media screen and (min-width: $notebook) {
    width: 1100px;
  }

  @media screen and (min-width: $desktop) {
    width: 1100px;
  }


  .row {
    display: flex;
    flex-direction: row;

    @media screen and (min-width: $celular) {
      flex-direction: column;
    }

    @media screen and (min-width: $tablet) {
      flex-direction: row;
    }

    @media screen and (min-width: $notebook) {
      flex-direction: row;
    }

    @media screen and (min-width: $desktop) {
      flex-direction: row;
    }

    .coluna {

      flex: 1;

      @media screen and (min-width: $celular) {
        flex: 1;
      }

      @media screen and (min-width: $tablet) {
        flex: 1;
      }

      @media screen and (min-width: $notebook) {
        flex: 1;
      }

      @media screen and (min-width: $desktop) {
        flex: 1;
      }

    }

  }

}


.sobre_cgi{
background-size: cover;
background-position: center;
width: 100%;
height: 300px;
.contents{
display: grid;
justify-content: flex-start;
padding: 50px;
h1{
font-family: "Nexa Bold";
color: #e6ac84;
font-size: 40px;
text-align: left;
width: 260px;
margin: 0 auto;
@media screen and (min-width: $celular) {
   width: 100%;
   text-align: center;
  }

  @media screen and (min-width: $tablet) {
    width: 260px;
   text-align: left;
  }

  @media screen and (min-width: $notebook) {
    width: 260px;
    text-align: left;
  }

  @media screen and (min-width: $desktop) {
    width: 260px;
    text-align: left;
  }
  
}
a{
font-family: "Nexa Bold";
color: #fff;
font-size: 15px;
text-align: center;
// background-color: #a88464;
background: linear-gradient(to bottom,  #a88464 20%,#c6ab8a 100%);
border-radius: 30px;
letter-spacing: 3px;
padding: 5px;
display: flex;
align-items: center;
width: 225px;
justify-content: center;
@media screen and (min-width: $celular) {
  width: 100%;
 }

 @media screen and (min-width: $tablet) {
   width: 225px;
 }

 @media screen and (min-width: $notebook) {
   width: 225px;
 }

 @media screen and (min-width: $desktop) {
   width: 225px;
 }
.arrow{
color: #fff;
height: auto;
width: 30px;
margin-left: 10px;
}
}
}
img{
    height: auto;
    width: 150px;
}
.coluna{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    .truck{
        background-position: center;
        background-size: cover;
        height: 280px;
        width: 100%;
    }
}
}
