$celular: 320px;
$tablet: 768px;
$notebook: 992px;
$desktop: 1300px;
//GLOBAL INTERNO
.container {
  width: 960px;
  margin: 0 auto;
  display: block;

  @media screen and (min-width: $celular) {
    width: 100%;
  }

  @media screen and (min-width: $tablet) {
    width: 100%;
  }

  @media screen and (min-width: $notebook) {
    width:  960px;
  }

  @media screen and (min-width: $desktop) {
    width:  960px;
  }


  .row {
    display: flex;
    flex-direction: row;

    @media screen and (min-width: $celular) {
      flex-direction: column;
    }

    @media screen and (min-width: $tablet) {
      flex-direction: row;
    }

    @media screen and (min-width: $notebook) {
      flex-direction: row;
    }

    @media screen and (min-width: $desktop) {
      flex-direction: row;
    }

    .coluna {

      flex: 1;

      @media screen and (min-width: $celular) {
        flex: 1;
      }

      @media screen and (min-width: $tablet) {
        flex: 1;
      }

      @media screen and (min-width: $notebook) {
        flex: 1;
      }

      @media screen and (min-width: $desktop) {
        flex: 1;
      }

    }

  }

}
.next_page{
  background-color: #e5e5e5;
  padding: 20px 50px 50px 50px;
  ul{
    display: flex;
    justify-content: center;
    align-items: center;
    li{
      font-family: "Nexa Bold";
      padding: 0px 10px;
      font-size: 25px;
      color:#c2a57f;
      cursor: pointer;
      svg{
        height: auto;
        width: 20px;
      }
      &:hover{
        color: #535353;
        border-bottom: 3px solid #535353;
      }
    }
    
  }
}

