$celular: 320px;
$tablet: 768px;
$notebook: 992px;
$desktop: 1300px;

.header{
  background-color: #fff;
  width: 100%;
  transition: all 0.2s;
  position: relative;
  z-index: 9;
  .coluna{
    flex: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    nav{
      @media screen and (min-width: $celular) {
        display: none;
      }

      @media screen and (min-width: $tablet) {
        display: none;
      }

      @media screen and (min-width: $notebook) {
        display: block;
      }

      @media screen and (min-width: $desktop) {
        display: block;
      }
      ul{
        display: flex;
        li{
          margin: 0 20px;
          .area{
            font-family: "Nexa Bold";
            color: #fff;
            font-size: 12px;
            text-align: center;
            background-color: #a88464;
            background: linear-gradient(to bottom,  #a88464 20%,#c6ab8a 100%);
            border-radius: 30px;
            padding: 5px;
            display: flex;
            align-items: baseline;
            width: 170px;
            justify-content: center;
            cursor: pointer;
            border: none;
            .icon{
              color: #fff;
              height: auto;
              width: 10px;
              margin-right: 10px;
            }
          }
          a{
            font-family: "Nexa Bold";
            font-weight: 300;
            font-style: normal;
            font-size: 12px;
            color: gray;
            position: relative; 
            &:hover::after{
              content: "";
              background: gray;
              padding: 3px;
              border-radius: 100px;
              position: absolute;
              bottom: -10px;
              right: 50%;   
            }
          }
        }
      }
    }
    .toggle{
      width: 40px;
      height: 35px;
      position: absolute;
      top: 20px;
      right: 20px;
      display: block;
      cursor: pointer;
      @media screen and (min-width: $celular) {
        display: block;
      }

      @media screen and (min-width: $tablet) {
        display: block;
      }

      @media screen and (min-width: $notebook) {
        display: none;
      }

      @media screen and (min-width: $desktop) {
        display: none;
      }
      span{
        margin-bottom: 8px;
        height: 5px;
        width: 100%;
        background-color: GRAY;
        display: block;
        border-radius: 5px;
      }
    }
  }
}

.active_header{
  @media screen and (min-width: $notebook) {
    // padding: 10px !important;
    position: fixed;
    background-color: #fff;
    a:hover::after{  
      // bottom: -25px !important;  
    }
  }

  @media screen and (min-width: $desktop) {
    // padding: 10px !important;
    position: fixed;
    background-color: #fff;
    a:hover::after{  
      // bottom: -25px !important;  
    }
  }
}

.menu_mobile{
  display: none;
  padding: 20px;
  background-color: GRAY;
  transition: opacity 1s ease-out;
  li{
    margin: 20px 0;
    a{
      font-family: "Nexa Bold";
      font-weight: bold;
      font-style: normal;
      font-size: 20px;
      color: #fff;
      display: inline-block;
      width: 100%;
    }
  }
}

@-webkit-keyframes fadeIn {
  from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fadeIn {
  from { opacity: 0; }
    to { opacity: 1; }
}

.active_menu_mobile{
  display: block;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s; 
}